*{
  margin: 0;
  padding: 0;
}

body{
  min-height:100vh !important;
}

.sectionContainer{
width: 78%;
margin: 0 auto;
}


/* --------------------------------------- Untuk Login ----------------------------------- */

.signUpHere {
  color: green;
  font-weight: bold;
  text-decoration: none
}

.signUpHere:hover {
  color: red;
  font-weight: bold;
  text-decoration: none
}

.loginContainer{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
  width: 457px;
  text-align: center; 
  box-shadow: 5px 12px 12px gray;
}

.loginImg{
  height:350px; 
  width: 100%
}

@media screen and (max-width: 400px) {
  .loginContainer{
    width: 80%;
  }

  .loginImg{
    height: 300px;
    margin-bottom: 2%;
  }
}

/* --------------------------------------- Untuk Login End ----------------------------------- */

/* --------------------------------------- Untuk Home ----------------------------------- */

form.example input[type=text] {

  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;

  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.mySlides {
  display: none;
}

.mySlides2 {
  display: none;
}

#carousel {
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(to right, green, lime);
  padding-top: 2%;
  padding-bottom: 3%;
}

#descarousel {
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(to right, green, lime);
  padding-top: 2%;
  padding-bottom: 3%;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 300px;
}

#prev, #next {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

#desprev, #desnext {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

#indicators {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#indicators2 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.indicator {
  width: 15px;
  height: 15px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background: #333;
}

.indicator2 {
  width: 15px;
  height: 15px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator2.active2 {
  background: #333;
}

.homeSeeAllPromo{
    color: white;
    float: left;
    font-weight: bold;
}

.homeSeeAllPromo:hover{
    text-decoration: none;
    color: black;
}

.homeArrow{
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5%
}
.homeArrow:hover{
    color: black;
    border: 1px solid black;
    border-radius: 100%;
    padding: 5%
}

#hero {
width: 100%;
height: 100vh;
/* background-color: rgba(163, 73, 83, 0.8); */
overflow: hidden;
position: relative;
display: inline-block;
z-index: 3;
}

#hero .carousel,
#hero .carousel-inner {
height: auto;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
/* background-color: rgba(163, 173, 183, 0.8); */
z-index: 2;
}

#hero .carousel-item,
#hero .carousel-item::before {
display: flex;
position: absolute;
height: 200px;
width : 200px;
top: 0;
right: 0;
left: 0;
bottom: 0;
background-color: rgba(263, 273, 283, 0.8);
z-index: 1;
}

#hero .carousel-item {
display: flex;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

#hero .carousel-item::before {
background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
top: 70px;
left: 50px;
right: 50px;
}

#hero .container {
text-align: center;
}

#hero h2 {
color: #fff;
margin-bottom: 20px;
font-size: 48px;
font-weight: 700;
}

#hero p {
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
margin: 0 auto 30px auto;
color: #fff;
}

#hero .carousel-inner .carousel-item {
transition-property: opacity;
background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
opacity: 1;
transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
left: 0;
transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
background: none;
font-size: 30px;
line-height: 0;
width: auto;
height: auto;
background: rgba(255, 255, 255, 0.2);
border-radius: 50px;
transition: 0.3s;
color: rgba(255, 255, 255, 0.5);
width: 54px;
height: 54px;
display: flex;
align-items: center;
justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
background: rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
cursor: pointer;
background: #fff;
overflow: hidden;
border: 0;
width: 12px;
height: 12px;
border-radius: 50px;
opacity: 0.6;
transition: 0.3s;
}

#hero .carousel-indicators li.active {
opacity: 1;
background: #d9232d;
}

#hero .btn-get-started {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 1px;
display: inline-block;
padding: 14px 32px;
border-radius: 4px;
transition: 0.5s;
line-height: 1;
color: #fff;
-webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
background: #d9232d;
}

#hero .btn-get-started:hover {
background: #df3740;
}

/* Start Service CSS */
.service{
margin-bottom: 4rem;
}

.serviceSubTittle{
margin-bottom: 1rem;
font-weight: bold;
color: green
}

.serviceTittle{
margin-bottom: 2rem;
}

.imgService{
width: 500px;
height: 300px;
border-radius: 0.7rem;
}

.serviceButton{
border-radius: 20px;
background: linear-gradient(to right, orange, red);
color: white;
padding: 2%;
padding-left: 7%;
padding-right: 7%;
position: absolute;
top: 280px;
right: 70px;
cursor: pointer
}

.homeImage{
  height:220px; width:400px;
  border-radius: 10px;
  border: 0px solid #202020;
  box-shadow: 1px 2px 1px 1px black;
}

.slideHomePromo {
  display: inline-block;
  width: 25%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.paja{
  border-radius: 20px; 
  color: white; 
  translate: 0% -400%; 
  font-size: 300%; 
  font-weight:bold
}

img {vertical-align: middle;}

@media screen and (max-width: 1200px) {

  .paja{
    translate: 0% -400%;
    font-size: 250%;
  }

  .imgService{
    width: 410px;
    height: 240px;
    border-radius: 0.7rem;
  }

  .serviceButton{
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    top: 220px;
    right: 80px;        
  }  

  .homeImage{
    height:160px; width:300px;
    border-radius: 10px;
    border: 0px solid #202020;
    box-shadow: 1px 2px 1px 1px black;
  }

}

@media screen and (max-width: 992px) {

  .paja{
    translate: 0% -400%;
    font-size: 200%;
  }

  .imgService{
    width: 290px;
    height: 200px;
  }

  .serviceButton{
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    top: 205px;
    right: 75px;        

  }  

  .homeImage{
    height:140px; width:250px;
    border-radius: 10px;
    border: 0px solid #202020;
    box-shadow: 1px 2px 1px 1px black;
  }

  .sectionContainer{
    width: 85%;
  }

    .promoButton{
      display: none;
    }
    
}

@media screen and (max-width: 768px) {

    .subTitleHome h1{
      font-size: 200%;
    }

    .subTitleHome h3{
      font-size: 130%;
    }

    .paja{
      translate: 0% -400%;
      font-size: 150%;
    }

    .imgService{
      width: 230px;
      height: 160px;
    }

    .serviceButton{
      padding: 2%;
      padding-left: 6%;
      padding-right: 6%;
      top: 180px;
      right: 40px;        
    }  

    .homeImage{
      height:110px; width:190px;
      border-radius: 10px;
    }

    .sectionContainer{
      width: 90%;
    }

    .promoButton{
      display: none;
    }
}

/* Media queries 400px*/
@media screen and (max-width: 400px) {

    .subTitleHome h1{
      font-size: 140%;
    }

    .subTitleHome h3{
      font-size: 100%;
    }

    .serviceSubTittle{
      font-size: 100%;
    }

    .paja{
      translate: 0% -400%;
      font-size: 100%;
    }

    .imgService{
      width: 150px;
      height: 110px;
    }

    .imgContainer p{
      font-size: 80%;
    }

    .serviceButton{
      padding: 2%;
      padding-left: 3%;
      padding-right: 3%;
      top: 150px;
      right: 30px;        
      font-size: 12px;
    }  

    .homeImage{
      height:90px; 
      width:135px;
      border-radius: 5px;
    }

    .slideHomePromo {
      width: 35%;
    }

    .serviceTittle h1{
      font-size: 140%;
    }

    .promoButton{
      display: none;
    }

    #carousel{
      padding-top: 6%;
      padding-bottom: 7%;
    }

    .sectionContainer{
      width: 100%;
    }
}

/* --------------------------------------- Untuk Home End ----------------------------------- */

/* ----------------------------------------Untuk Promo---------------------------------------- */

#carouselPromo, #carousel2 {
  overflow: hidden;
  white-space: nowrap;
}

.promoTitle{
  text-align: center; 
  font-size: 250%; 
  font-weight: bold; 
  margin-top: 10%; 
  margin-bottom: 5%; 
  color:#3bb143
}

.slidePromo {
  display: inline-block;
  width: 25%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 4%;
}
.promoImage{
  height:220px; width:400px;
  border-radius: 10px;
  border: 0px solid #202020;
  box-shadow: 1px 2px 1px 1px black;
}

.promoSubTittle-2 {
  font-size: 250%; 
  margin-left: 5%; 
  color: #3bb143; 
  font-weight: bold; 
  margin-bottom: 2%
}

@media screen and (max-width: 1200px) {

  .promoImage{
    height:140px; width:250px;
    border-radius: 10px;
    border: 0px solid #202020;
    box-shadow: 1px 2px 1px 1px black;
  }
}

@media screen and (max-width: 992px) {

  .promoImage{
    height:140px; width:250px;
    border-radius: 10px;
    border: 0px solid #202020;
    box-shadow: 1px 2px 1px 1px black;
  }

  .promoTitle{
    font-size: 220%; 
  }


}

@media screen and (max-width: 768px) {


    .promoImage{
      height:110px; width:190px;
      border-radius: 10px;
      border: 0px solid #202020;
      box-shadow: 1px 2px 1px 1px black;
    }

    .promoTitle{
      font-size: 200%; 
    }

}

/* Media queries 600px*/
@media screen and (max-width: 400px) {

    .promoImage{
      height:70px; 
      width:120px;
      border-radius: 5px;
    }

    .slidePromo{
      width: 30%;
    }

    .promoTitle{
      font-size: 120%; 
      margin-bottom: 10%;
    }

    .promoSubTittle-2{
      font-size: 110%;
    }

}
/* ----------------------------------------Untuk Promo End---------------------------------------- */

/* ----------------------------------------Untuk Homestay Start---------------------------------------- */
.homestayContainer{
  display: grid; 
  grid-template-columns: 20% 90%; 
  gap: 10%; 
  margin-top: 50px;
}

.homestayListContainer{
  list-style: none; 
  width: 100%; 
  border: outset 4px; 
  border-radius: 20px; 
  margin-bottom: 5%
}

.listContentContainer{
  display: flex;
}

.homestayImg{
  width: 45%; 
  padding: 2%;
}

.homestayName{
  width: 35%; 
  padding-left: 2%; 
  padding-top: 2%
}

.homestayPrice{
  width: 20%; 
  margin-right: 2%; 
  padding-top: 17%
}

.sortList{
  width: 100%; 
  margin-top: -5%; 
  display: flex;
}

.untukBorderHomeStayDetail {
  border-left: 1px solid gray;
  padding-left: 5%;
}

.untukIconHomeStay {
  text-align: center;
  font-size: 200%;
}

.row {
display: flex;
flex-wrap: wrap;
}

.row .column {
width: auto;
flex: 50%;
overflow: hidden;
padding: 0px 4px;
}

.row .column img {
padding: 10px 10px;
cursor: pointer;
border-radius: 18px;
}

.row .column img:hover {
transform: translateY(-10px);
transition: all 300ms ease;
}

.searchBox-2{
  margin-top: 4%;
  position: relative;
  width: 300px;
  height: 50px;
  border: solid 1px black;
  border-radius: 30px;
}

.searchBox-2 .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  border: 0;
  outline: none;
}

.searchBox-2 button{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, orange, red);
  z-index: 1;
  cursor: pointer;
}

.searchWrap-2 button{
  width: 85px;
  height: 30px;
  top: 8px;
  right: 10px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainMenu{
  margin-top: 2%; 
  margin-bottom: 4%; 
  padding-left: 10%;
  padding-right: 10%; 
  display: flex
}

.homestayDetailContent{
  display: flex;
}

.homestayInfo{
  list-style: none; 
  width: 40%
}

.homestayOffers{
  display: flex; 
  width: 100%; 
  translate: -5% 0%
}

.homestayOffer{
  font-size: 200%;
}

.homestayOfferContainer{
  width: 20%; 
  text-align:center
}

@media screen and (max-width: 400px) {

  .homestayContainer{
    grid-template-columns: 1fr; 
    gap: 1%; 
    margin-top: 50px;
    place-items: center;
  }

  .homestayListContainer{
    margin-bottom: 10%;
    border-radius: 15px;
  }

  .searchWrap-2{
    display: none;
  }

  .listContentContainer{
    display: grid;
    grid-template-columns: 1fr;
  }

  .homestayImg{
    width: 100%;
  }

  .homestayName{
    width: 100%;
    padding:0 5%;
  }

  .homestayPrice{
    width: 100%;
    padding: 0 0 10% 15%;
  }

  .mainMenu{
    display: none;
  }

  .row .column img {
    padding: 5px 5px;
    border-radius: 12px;
    }

    .homestayDetailContent{
      display: grid;
      grid-template-columns: 1fr;
    }

    .homestayInfo{
      width: 90%;
    }

    .homestayOffer{
      font-size: 110%;
    }

    .homestayOfferContainer{
      width: 35%;
    }
}
/* ----------------------------------------Untuk Homestay End---------------------------------------- */


/* --------------------------------Untuk Culinary-------------------------------- */

.culinaryContainer{
  display: grid; 
  grid-template-columns: 20% 80%; 
  gap: 10%; 
  margin-top: 5%;
}

.culinarySubTittle strong{
  color: #25b448;
  font-size: 40px;
}

.culinarySubTittle span{
  font-weight: bold;
  color: black;
  font-size: 40px;
}

.culinaryFoodContainer{
  display:inline-block; 
  width: 100%;
}

.culinaryImgContainer{
  width:30%; 
  margin-left:2.5%; 
  margin-bottom: 5%; 
  display:inline-block;
}

.culinaryImgContainer p{
  font-weight: bold; 
  margin-top: 2%;
}

.culinaryImg{
  border-radius:5%; 
  width: 95%; 
  height: 200px; 
  object-fit: cover;
}

.searchBox{
  position: relative;
  width: 380px;
  height: 60px;
  border: solid 1px black;
  border-radius: 30px;
}

.searchBox .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  border: 0;
  outline: none;
}

.searchBox button{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, orange, red);
  z-index: 1;
  cursor: pointer;
}

.searchWrap button{
  width: 110px;
  height: 40px;
  top: 8px;
  right: 10px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openBtnCulinary{
  background:#f1f1f1;
  font-size: 100%;
  cursor: pointer;
  text-decoration: none;
  border-style: 1px groove;
  border-color: green;
  border-radius: 10px;
  color:green;
  padding: 4%;
  float: left;
  margin-bottom: 4%;
  font-weight: bold;
}

.openBtnCulinary:hover{
  background: orangered;
  transition: 150ms ease;
  font-size: 100%;
  cursor: pointer;
  text-decoration: none;
  border-style: 1px groove;
  border-color: orangered;
  border-radius: 10px;
  color:white;
  padding: 4%;
  float: left;
  margin-bottom: 4%;
  font-weight: bold;
}

.wrapCulinary{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    width:50%;
    /* margin:auto; */
    background:#fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px 20px;
}

.overlayCulinary{
  height:150%;
  width:100%;
  display:none;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background:rgba(0,0,0,0.8);
}
.rates{
    position:absolute;
    right:30px;
    top:40px;
}
.closebtnCulinary{
  position:absolute;
  /* top:0%; */
  /* right:10%; */
  right: 10px;
  top:-60px;
  font-size:40px;
  cursor: pointer;
  color: red;
}
.culOverlayImgContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.culOverlayImgContainer img{
    margin-right: 80px;
}

.culOverlayBtn{
    margin: 30px 0;
    display: flex;
    justify-content: flex-end;
}
.culOverlayImgContainer h3{
    font-weight: bold;
    font-size: 20px;
}
.culOverlayImgContainer p{
    font-weight: normal;
    font-size: 14px;
}
.culOverlayBtn button{
    border: none;
    padding: 10px 30px;
    margin-left: 30px;
    background: linear-gradient(94.09deg, #F05A2E 4.27%, #F02E2E 99.87%);
    color: #fff;
    border-radius: 15px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.culMenu{
  text-align: center; width: 400px
}

/* .ratingCulinary{
  position: absolute;
  top: 14%;
  right: 15%;
} */

.culOverlayImg{
  margin-left:2%; 
  border-radius:5%; 
  width: 45%; 
  height: 230px; 
  object-fit: cover; 
  margin-top:4%;
}

.culBtn{
  display: flex;
  justify-content: space-between;
}

.culinaryPrice{
  padding-top: 4%;
  padding-right: 10%;
  font-size: 100%;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {


}

@media screen and (max-width: 768px) {

}

/* Media queries 400px*/
@media screen and (max-width: 400px) {

  .culinaryContainer{
    grid-template-columns: 1fr; 
    gap: 1%; 
    place-items: center;
  }

  .searchWrap{
    display: none;
  }

  .culinarySubTittle strong{
    font-size: 130%;
  }

  .culinarySubTittle span{
    font-size: 130%;
  }

  .culinaryFoodContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .culinaryImgContainer{
    width:90%; 
  }

  .culinaryImgContainer p{
    margin-bottom: 5%;
  }

  .openBtnCulinary{
    margin-bottom: 10%;
  }

  .wrapCulinary{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    width:80%;
    box-sizing: border-box;
    padding: 30px 20px;
  }

  .culOverlayImgContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    place-items: center;
  }

  .culOverlayImg{
    width: 50%;
  }

  .culOverlayImgContainer img{
    margin-right: 0;
  }
  
  .culMenu{
    margin-top: 2%;

  }

  .culinaryImg{
    height: 120px;
  }

  .culinaryPrice{
    padding-top: 4%;
    padding-right: 2%;
    font-size: 80%;
  }
}

/* --------------------------------Untuk Culinary End-------------------------------- */



/* --------------------------------Untuk Souvenir-------------------------------- */

/* Kotak gambar dan deskripsi Souvenir */
.souvenirTittle{
  text-align: center; 
  font-size: 250%; 
  font-weight: bold; 
  margin-top: 5%; 
  margin-bottom: 5%; 
}

.souvenirContainer{
  display:flex; 
  flex-wrap:wrap; 
  width: 80%;
  margin-left: 15%; 
}

.souvenirImgContainer{
  width: 300px;
  float: left;
  margin-right: 6%;
  box-shadow: 2px 4px gray;
  border: 2px solid gray;
  border-radius: 20px;
  margin-bottom: 4%;
}

.checkButtonSouvenir{
  border-radius: 10px;
  border: 0px;
  background-color: green;
  color:white;
  padding: 4%;
  padding-left: 5%;
  padding-right: 5%;
  float:right;
  margin-top: -12%;
  margin-bottom: 7%;
}

.checkButtonSouvenir:hover{
  border-radius: 10px;
  border: 0px;
  background-color: orangered;
  color:white;
  padding: 4%;
  padding-left: 5%;
  padding-right: 5%;
  float:right;
  margin-top: -12%;
  margin-bottom: 7%;
}

.hargaSouvenir{
  text-align: left;
  color:green;
  font-weight: bold;
  float: inline-start;
}

.wrapSouvenir{
  width:40%;
  position: relative;
  margin:auto;
  background:#fff;
  border-radius: 20px;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 5%;
}

.buyNowSouvenir{
  float: right;
  padding: 2%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: -8%;
  background-color: green;
  color:white;
  border: 0px;
  border-radius: 10px;
}

.buyNowSouvenir:hover{
  float: right;
  padding: 2%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: -8%;
  background-color: orangered;
  color:white;
  border: 0px;
  border-radius: 10px;
}

.souvenirImg{
  border-radius:5%; 
  width: 296px; 
  height: 250px; 
  object-fit: cover;
}

.souvenirOverlayImg{
  margin-left: auto; 
  margin-right: auto; 
  width: 50%; 
  display: block; 
  border-radius: 10px; 
  margin-bottom: 5%
}

.souvenirOverlayPrice{
  text-align: center; 
  color: green; 
  font-weight: bold; 
  float: center
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

/* Media queries 600px*/
@media screen and (max-width: 400px) {
  .souvenirTittle{
    font-size: 140%; 
    margin-top: 10%; 
    margin-bottom: 10%; 
  }

  .souvenirImgContainer{
    width: 90%;
    margin-right: 6%;
    box-shadow: 2px 4px gray;
    border: 2px solid gray;
    border-radius: 20px;
    margin-bottom: 15%;
  }

  .souvenirImg{
    border-radius:5%; 
    width: 100%; 
  }

  .hargaSouvenir{
    text-align: left;
    float:inline-start;
  }

  .wrapSouvenir{
    width:80%;
    height: 40%;
    padding-left: 7%;
    padding-right: 0%;
    margin-top: 35%;
  }

  .souvenirOverlayImg{
    margin: 10% 10% 10% 10%;
    width: 70%; 
  }

  .souvenirOverlayPrice{
    text-align:start; 
    float:left;
    margin-top: 4.5%;
  }

  .buyNowSouvenir{
    margin-top: 2%;
    margin-right: 8%;
  }

  .buyNowSouvenir:hover{
    margin-top: 2%;
    margin-right: 8%;

  }
}
  /* --------------------------------Untuk Souvenir End-------------------------------- */

 /* --------------------------------Untuk Destination Start-------------------------------- */
  .destinasiImage{
    width: 300px;
    height: 350px;
    border-radius: 30px;
    border: 3px solid black;
  }

  .destinasiSlide {
    display: inline-block;
    width: 20%;
    margin-left: 5%;
    color: white;
  }

  .destinationTittleContainer{
    text-align: center; 
    font-weight: bold; 
    padding: 2%; 
    padding-left: 20%; 
    padding-right: 20%
  }

  .destinationCheckDetail{
    font-weight: bold;
    color: white;
    background: green;
    width: 100%;
    padding: 5%;
    cursor: pointer;
}

.destinasiCheckDetail:hover{
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, red, orange);
    width: 100%;
    padding: 5%;
}

.destinationSubTittle{
  color:rgb(17, 187, 17); 
  font-size: 200%
}

.destinationDesc{
  color:rgb(0, 87, 0); 
  font-size: 150%
}

.destinationSubTittle-2{
  color: green; 
  font-size: 250%; 
  margin-top: 5%
}

.destinationDesc-2{
  color: rgb(0, 59, 0); 
  font-size: 200%
}

.destinationList-2{
  padding: 5%; 
  padding-left: 7%
}

.destinationContainer-2{
  width: 30%; 
  box-shadow: 1px 1px 2px 4px gray; 
  padding: 1%; 
  display: inline-block; 
  margin: 1%; 
  border-radius: 2%;
}

@media screen and (max-width: 400px){

  .destinationTittleContainer{
    padding-left: 10%;
    padding-right: 10%;
  }

  .destinationSubTittle{
    font-size: 160%;
  }

  .destinationDesc{
    font-size: 110%;
  }

  .destinationSubTittle-2{
    margin-top: 10%;
    font-size: 160%; 
  }

  .destinationDesc-2{
    font-size: 110%;
  }

  .destinationList{
    display: grid;
    grid-template-columns: 1fr;
  }

  .destinationContainer-2{
    width: 100%;
    margin-bottom: 10%;
  }

  .destinationCheckDetail{
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 2%;
    padding: 5%;
  }

}
  /* --------------------------------Untuk Destination End-------------------------------- */


  /* destinationDetail */
  .destinationDetailContainer{
    height:fit-content; 
    padding: 40px; 
  }

  .destinationDetailContent{
    width: 60%; 
    box-shadow: 1px 2px 3px 2px gray; 
    padding: 3%; 
    float: left; 
    border-radius: 10px
  }

  .destinationDetailImg{
    width: 100%; 
    height: 309px; 
    object-fit: cover; 
    margin-bottom:2%;
    border-radius: 2%;
  }

  .ets{
    margin-bottom: 2%;
  }

  .buttonDestinationDetail {
    width: 20%;
    padding: 2%;
    margin: 2%;
    border: none;
    background: linear-gradient(to bottom, green, lime);
    color: white;
    border-radius: 10px;
}

.buttonDestinationDetail:active,
.buttonDestinationDetail:hover {
    width: 20%;
    padding: 2%;
    margin: 2%;
    border: none;
    background: linear-gradient(to bottom, green, rgb(0, 54, 0));
    color: white;
    border-radius: 10px
}

.destinationDetailForm{
  width: 35%; 
  display:inline-block; 
  padding:5%;
  margin-top: -2%
}

.destinationDetailForm input{
  padding: 10px 10px;
  width: 100%; 
  border: solid 1px ;  
  margin-bottom: 3%; 
  height: 40px; 
  border-radius: 8px;
}

.destinationDetailSubTittle {
  font-size: 150%;
  margin-bottom: 5%;
  font-weight: bold; 
  color: green
}

@media screen and (max-width: 400px) {
  .destinationDetailContainer{
    display: grid;
    grid-template-columns: 1fr;
  }

  .destinationDetailForm{
    width: 100%; 
    margin-top: 20%;
    margin-bottom: 0%;
  }

  .destinationDetailContent{
    width: 100%;
  }

  .destinationDetailImg{
    width: 100%; 
    border-radius: 3%;
  }

  .ets{
    margin-bottom: 5%;
  }

  .buttonDestinationDetail {
    width: 100%;
}

.buttonDestinationDetail:active,
.buttonDestinationDetail:hover {
    width: 100%;
}

}
  /* destinationDetail End*/

  .footer{
    background: linear-gradient(rgb(42 180 70), rgb(98 180 38)); 
    margin-top:2%; 
    padding-bottom:2%;
  }

  .footerContainer{
    max-width: 100%; 
    margin: auto; 
    display: flex
  }

@media screen and (max-width:400%){
  .footerContainer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
  }
}